header {
    background-color: white;
    background-color: rgb(216, 0, 47);
}

header > h1 {
    padding-top: 0.5em;
    padding-bottom: 0.125em;
    font-size: 5rem;
    text-align: center;
    color: white;
}

header > h3 {
    text-align: center;
    font-style: italic;
    font-size: 1.75rem;
    color: white;
    padding-bottom: 1em;
}

@media only screen and (max-width: 959px) {
    header {
        display: none;
    }
}