nav {
    display: grid;
    grid-template-columns: 1fr minmax(280px, 960px) 1fr;
    background-color: rgb(216, 0, 47);
    overflow: hidden;
    color: white;
}

.nav-item-container > a, .nav-item-container i {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem;
    line-height: 2.5rem;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

nav > div.nav-item-container {
    grid-column: 2;
    color: inherit;
}

nav > div.nav-item-container > a:last-child {
    float: right;
}

.nav-item-container > a:hover, .nav-item-container > i:hover {
    background-color: rgb(223, 39, 79);
}

div.dropdown-content {
    color: inherit;
    position: absolute;
    background-color: rgb(216, 0, 47);
    width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content > a {
    text-decoration: none;
    color: inherit;
    display: block;
    line-height: 2.5rem;
    padding-left: 1rem;
}

.dropdown-content > a:hover {
    background-color: rgb(223, 39, 79);
}