.recipe-item {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 12px;
    font-size: 1.2rem;
}

.recipe-item * {
    border-color: #ccc;
    color: #222;
}

.recipe-item .body {
    display: none;
}

.recipe-header p {
    display: inline-block;
}

.recipe-header .recipe-category {
    float: right;
}

.is-expanded .recipe-header {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.is-expanded .body {
    padding-top: 12px;
    display: block;
}

.body .recipe-description {
    padding-bottom: 12px;
}

.body .ingredients li {
    margin-top: 12px;
}

.body > div {
    display: inline-block;
}

.body button {
    float: right;
    margin-bottom: 12px;
    padding: 12px 20px;
    background-color: rgb(216, 0, 47);
    border: 0;
    /* border: 1px solid white; */
    border-radius: 4px;
    font-size: 0.8rem;
    /* margin-top: 48px; */
    color: white;
}

.body button:hover {
    background-color: rgb(214, 22, 64);
}
