.recipe-item {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

.recipe-item * {
    border-color: #ccc;
    color: #222;
}

.recipe-item .body {
    display: none;
}

.recipe-header {
    padding: 0.5rem;
    cursor: pointer;
}

.recipe-header p {
    display: inline-block;
}

.recipe-header .recipe-category {
    float: right;
}

.is-expanded .recipe-header {
    border-bottom: 1px solid #ccc;
}

.is-expanded .body {
    display: block;
    padding: 0.5rem;
}

.body > .top > button {
    display: block;
    border: 1px solid black;
    font-size: 1rem;
    color:white;
    background-color: red;
    height: 2rem;
    border-radius: 4px;
    width: 6rem;
}

.body > .top > .recipe-description {
    /* color: pink; */
    overflow: visible;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.body > .top {
    display: grid;
    grid-template-columns: 1fr 6rem;
}

.body > .ingredients * {
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ingredients ul li {
    margin: .5rem 0;
}



@media only screen and (max-width: 600px) {

}